.metadata
.settings
Debug*
Release*
.dep.inc
.make.state*
pthreads
build*
*pro.user*
/.project
.vscode
.suo
.vs
*.cmake
CMakeLists.txt.user
CMakeSettings.json
*~
core*
.depend 
.*.cmd
*.ko
*.mod.c
.tmp_versions
*.mod
*symvers
*.order
*.o
